canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 512px !important;
  height: 512px !important;
  outline: none;
}

.dark {
  background: black;
  color: white;
}